@import url(https://fonts.googleapis.com/css?family=Quicksand|Raleway);

#apiEnquiryForm , #apiEnquiryForm2 , #apiEnquiryForm3 {
	margin:0px;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size:18px;
	padding-top: 0px;
	padding-bottom: 0px;	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
	border-radius:0px;
	margin-left: 2%;
	margin-right: 2%;
	background-color: #EBEBEC;
	border-radius: 25px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.31);
}

#apply-form label {
}
#apiEnquiryForm * , #apiEnquiryForm3 * , #apiEnquiryForm2 * {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#apiEnquiryForm label, #apiEnquiryForm2 label , #apiEnquiryForm3 label {
	display: block;
}

#apiEnquiryForm label.radio , #apiEnquiryForm2 label.radio , #apiEnquiryForm3 label.radio {
	display: inline;
}

#apiEnquiryForm input[type=text] , #apiEnquiryForm select , #apiEnquiryForm textarea, #apiEnquiryForm2 input[type=text] , #apiEnquiryForm2 select , #apiEnquiryForm2 textarea , #apiEnquiryForm3 input[type=text] , #apiEnquiryForm3 select , #apiEnquiryForm3 textarea  {
	width:100%;
	padding: 0 10px;	
	border-width: 0px;
	font-size: 16px;
}
input[type="text"]:focus {
	border-color: #4c6876 !important;}
#apiEnquiryForm input[type="text"]:focus , #apiEnquiryForm2 input[type="text"]:focus , #apiEnquiryForm3 input[type="text"]:focus{
border-color: #316282 !important;
}
#apiEnquiryForm input[type=text]:focus , #apiEnquiryForm2 input[type=text]:focus , #apiEnquiryForm3 input[type=text]:focus {
border-color: #316282 !important;
}
#apiEnquiryForm input[type=text]:focus , #apiEnquiryForm2 input[type=text]:focus , #apiEnquiryForm3 input[type=text]:focus{
    border-color: #316282 !important;
    background-image: url(/Images/Ok_icon.png);
    background-repeat: no-repeat;
    background-position: 95%;
}
#apiEnquiryForm select , #apiEnquiryForm2 select , #apiEnquiryForm3 select {
	-moz-appearance: none;
 	-webkit-appearance: none;
	
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

#apiEnquiryForm input.postCode , #apiEnquiryForm2 input.postCode, #apiEnquiryForm3 input.postCode{
	width:100%;
}

#apiEnquiryForm select.landLineNumberAreaCode, #apiEnquiryForm2 select.landLineNumberAreaCode , #apiEnquiryForm3 select.landLineNumberAreaCode{
	width:25%;
}

#apiEnquiryForm input.landLineNumber , #apiEnquiryForm2 input.landLineNumber, #apiEnquiryForm3 input.landLineNumber{
	width:70%;
	float:right;
}

#apiEnquiryForm select.state , #apiEnquiryForm2 select.state , #apiEnquiryForm3 select.state{
	width:100%;
}

#apiEnquiryForm textarea ,  #apiEnquiryForm2 textarea , #apiEnquiryForm3 textarea {
	height:50px;
	padding: 5px 10px
}

#apiEnquiryForm input[type=button] , #apiEnquiryForm2 input[type=button] , #apiEnquiryForm3 input[type=button] {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aad75b', endColorstr='#d1e990');
    border-radius: 25px !important;
    font-size: 19px !important;
    height: 43px !important;
    line-height: 40px !important;
    padding: 0 !important;
    border: 0;
    cursor: pointer;
    outline: 0 none;
    overflow: hidden;
    position: relative!important;
    text-align: center;
    text-shadow: none;
    width: 94%;
	margin: 5px 3%;
    bottom: 0 !important;
    border: 0 !important;
	font-family: "proxima-nova", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    background-color: #66C5B2;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.31);
    border-radius: 25px 25px 25px 25px;
}

#apiEnquiryForm input[type=button]:hover , #apiEnquiryForm2 input[type=button]:hover , #apiEnquiryForm3 input[type=button]:hover{
	background-color: #1B97B9 !important;
	text-decoration: none;
}
#apiEnquiryForm input[type=button]:active , #apiEnquiryForm2 input[type=button]:active , #apiEnquiryForm3 input[type=button]:active{
	position:relative;
	top:1px;
}


#apiEnquiryForm p.api-post-failed , #apiEnquiryForm2 p.api-post-failed , #apiEnquiryForm3 p.api-post-failed {
	color: red;
	color: red;
}

#apiEnquiryForm p.api-post-success , #apiEnquiryForm2 p.api-post-success , #apiEnquiryForm3 p.api-post-success{
}

@media (max-width: 220px) {
	#apiEnquiryForm select.state , #apiEnquiryForm2 select.state , #apiEnquiryForm3 select.state{
		width:100% !important;
	}	
	#apiEnquiryForm input.postCode , #apiEnquiryForm2 input.postCode , #apiEnquiryForm3 input.postCode {
		width:100% !important;
	}
	#apiEnquiryForm select.landLineNumberAreaCode , #apiEnquiryForm2 select.landLineNumberAreaCode , #apiEnquiryForm3 select.landLineNumberAreaCode{
		width:30% !important;
	}
	#apiEnquiryForm input.landLineNumber , #apiEnquiryForm2 input.landLineNumber , #apiEnquiryForm3 input.landLineNumber {
		width:65% !important;
	}

}

@media (max-width: 166px) {
	#apiEnquiryForm select.landLineNumberAreaCode , #apiEnquiryForm2 select.landLineNumberAreaCode , #apiEnquiryForm3 select.landLineNumberAreaCode {
		width:100% !important;
	}	
	#apiEnquiryForm input.landLineNumber , #apiEnquiryForm2 input.landLineNumber , #apiEnquiryForm3 input.landLineNumber {
		float:none !important;
		width:100% !important;
	}
	#apiEnquiryForm select.state , #apiEnquiryForm2 select.state , #apiEnquiryForm3 select.state {
		width:100% !important; 
	}
	#apiEnquiryForm input.postCode , #apiEnquiryForm2 input.postCode , #apiEnquiryForm3 input.postCode {
		width:100% !important;
	}	
}
.squaredFour {
	width: 100%;
	margin: 20px auto;
	position: relative;
	text-align: center;
}

.squaredFour label {
	display: inline-block !important;
	margin-top: 4px !important;		
	margin-bottom: -13px;
	cursor: pointer !important;
	width: 20px !important;
	height: 30px !important;
	background-image: url(/Images/TC-icon.png) !important;
	background-repeat: no-repeat !important;
}

.squaredFour input[type=checkbox]:checked + label{
	background-image: url(/Images/TC-icon_checked.png) !important;
}

.squaredFour label:hover::after {
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)' !important;
	filter: alpha(opacity=30) !important;
	opacity: 0.5 !important;
}

.squaredFour input[type=checkbox]:checked + label:after {
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)' !important;
	filter: alpha(opacity=100) !important;
	opacity: 1;
}
.squaredFour p{
	display: inline;
}

#apiEnquiryForm label, #apiEnquiryForm input, #apiEnquiryForm select, .switch-title {
	display: block;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 600;
	font-style: normal;
	width: 100%;
	font-size: 18px;
	color: #154A92;
}

#apiEnquiryForm input, #apiEnquiryForm select, textarea {
	background-color: #FFF;
	color: #154A92;
	border: none;	
	font-size: 16px;
	font-weight: bold;
}

#apiEnquiryForm input, #apiEnquiryForm select, textarea {
	height: 35px;
}

#apiEnquiryForm select {
	text-align: center;
	text-align-last: center;
 }

#apiEnquiryForm input::placeholder, #apiEnquiryForm select option {
	color: #213F7E;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-align:-moz-center;
    text-align:-webkit-center;
}

#apiEnquiryForm p, #error_message { 
	background-color:#EBEBEC;
	padding: 0 25px;
	font-size: 18px;
	font-weight: bold;
	color: #224e54;
	text-align: center;
}

#error_message {
	display: none!important;
}

input[type="button" i] {
    user-select: none;
    white-space: pre;
    cursor: default;
    color: #FFF;
    background-color: #f79239;
    box-sizing: border-box;
    padding: 10px 20px;
    border-width: 0px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 21px;
}

.switch-title {
	font-family: proxima-nova, sans-serif;
	font-weight: 600;
	font-style: normal;
	color: #154A92;;
	padding: 0 25px;
	font-size: 18px;
}

.switch-field label {
	background-color: #a2ced4;	
}

.switch-buttons {
	text-align: center;
	display: block;
    width: 100%;
}

.switch-buttons {
	text-align: center;
	display: block;
    width: 100%;
}

.switch-buttons-yes, .switch-buttons-no {
    width: 90px;
    display: inline-block;
    padding: 0 5px;
}

.switch-buttons-yes {
	text-align: right;
}
.switch-buttons-no {
	text-align: left;
}

.switch-field label:first-of-type, .switch-field label:last-of-type {
	border-radius: 0px!important;
	background-color: #66C5B2 !important;
	color: #FFF !important;
	font-weight: bold!important;
	text-transform: uppercase;
}

.nocreaitimapct {
    color: #224e54;
    padding: 10px;
    text-align: center;
    background-color: #FFFFFF;
    border-top: 0px;
    font-weight: bold;
	padding-bottom: 30px;
	width: 90%;
	margin-left: 5%;
    margin-right: 5%;
}

.switch-field label {
	background-color: #e4e4e4 !important;
	color: rgba(0, 0, 0, 0.2) !important;
	font-size: 14px !important;
	font-weight: normal !important;
	text-align: center !important;
	text-shadow: none !important;
	padding: 6px 14px !important;	
	-webkit-transition: all 0.1s ease-in-out !important;
	-moz-transition:    all 0.1s ease-in-out !important;
	-ms-transition:     all 0.1s ease-in-out !important;
	-o-transition:      all 0.1s ease-in-out !important;
	transition:         all 0.1s ease-in-out !important;
  }

.comments-section {
    margin-top: 20px;
}

#apiEnquiryForm fieldset:not(:first-of-type) {
display: none;
}

.squaredFour {
    width: 100%;
    margin: 20px auto;
    position: relative;
}

.squaredFour input[type=checkbox]:checked + label{
	background-image: url(http://www.staging.australianlendingcentre.com.au/wp-content/uploads/2017/06/TC-icon_checked.png);
}

.squaredFour label:hover::after {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
    filter: alpha(opacity=30);
    opacity: 0.5;
 }

.squaredFour input[type=checkbox]:checked + label:after {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    filter: alpha(opacity=100);
    opacity: 1;
}

.squaredFour p{
    display: inline; 
}

.hidden{
    display:none;
}

.switch-field {
    overflow: hidden;
    margin-bottom: 10px;
}

.switch-title {
  	margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

#apiEnquiryForm input[type=radio] {
    width: 120px!important;
}

.switch-field label {
  	float: left !important;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  	background-color: #154A92 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	color: white !important;
}

fieldset {
	border: 0;
}

.state-postcode-wrapper {
    padding: 0 25px;
}

.state-postcode-wrapper p {
	margin-bottom: 5px!important;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.field-required {
    border: red 2px solid!important;
}