/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


@import url("https://use.typekit.net/abm0qko.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family: "proxima-nova", Sans-serif;
	font-size: 16px;
	font-weight: 300;
}

p {
	font-family: "proxima-nova", Sans-serif;
	font-size: 16px;
	font-weight: 300;
}


*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
}

.calc h2 {
    color: #213F7E;
    font-family: "proxima-nova", Sans-serif;
    font-size: 35px;
    font-weight: 700;
	text-align: center;
	padding-bottom: 10px;
}

.mr-10{margin-right:10%;}
.mr-6{margin-right:6%;}


.a-right{text-align:right;}

.calc h3{
	font-size: 26px;
	line-height:26px;
	padding-left:1%;
	font-weight:700;
	font-family: "proxima-nova", Sans-serif;
	text-align: center;
	color: #213F7E;
	}

.budget-planer h3 {
  font-size: 1.8em!important;
  padding-bottom: 10px;
}


.loan-repayment .outer-container,
.loan-comparison .outer-container,
.extra-repayment .outer-container{
	background:#fff none;
	color: #213F7E;
	width: auto;
	clear:both;
	overflow:hidden;
	padding-right:20px;
	position:relative;
	
}


.calc .ui-slider-range{
	background:#67C5B2 none;
}

.calc .ui-corner-all {
  border-radius: 0;
  border: none;
  height: 5px;
}

.calc .ui-slider-handle {
  border: 2px solid #67C5B2;
  top: -6px;
}

.calc .section-heading{
	color:#fff;
	line-height:26px;
	font-size:18px;
	padding:0px 2%;
margin-top: 10px;
	padding-top: 10px;
	font-weight: 600;	
}


.calc {
font-family: "proxima-nova", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.calc .ui-slider .ui-slider-handle {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 1.1em;
  width: 1.1em;
  margin-left: -0.6em;
}


.calc .ui-widget-content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*background: transparent url(../images/slider-bg.png) no-repeat;*/
}

.calc .slider {
  width: auto;
  position: relative;
  top: 6px;
}

.calc .long-text, .calc .short-text, .calc .very-short-text,  .input-bl input {
  height: 30px;
  background-color: #fff;
  border: none;
  padding: 5px;
	margine 5px;
}

select {
  height: 30px;
  background-color: #fff;
  border: none;
  padding: 5px;
}

.calc .long-text {
  width: 80%;
}

.calc .short-text {
  width: 55%;
}

.calc .very-short-text {
  width: 30%;
}

.calc .rounded {
  -webkit-border-radius: 25px!important;
  -moz-border-radius: 25px!important;
  border-radius: 25px!important;
  background: #1B97B9;
}

.calc .panel {
	background: #EBEBEC;
	border: 0px;
	clear: both;
	overflow: hidden;
	color:#213F7E;	
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f3f4f5!important;
  clear: both;
  overflow: hidden;
}



.calc #result label {
	color: #FFF;
}


.calc .panel .control-group{
	float:left;
	width:45%;
	margin-bottom:10px;
}

.calc .panel .control-group label span {
	margin:0 0 5px;
	padding:0;
	font-size: 1.4em;
	
}

.calc .panel .control-group .control-half{
	width:47%;
	float:left;
}
.control-group .control-full,
.control-group .control-full select{width:100%;}


.calc #result, #reset-fields {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
 background: #67C5B2;
  color: #fff;  
  border: none!important;
	font-family: "proxima-nova", Sans-serif!important;
	box-shadow: 4px 4px 8px #B5B3B3;
	padding: 10px;
}

  
}#reset-fields {
	padding: 10px 20px 10px 20px!important;}

.calc #result label {
  color: #fff!important;
  font-weight: 500!important;
  margin: 10px 0px 10px 20px;
font-size: 1.1em!important;
}

.calc .functions {
  position: absolute;
  right: 5px;
  top:0;
  padding-top:26px;
}

.calc .functions ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.calc .functions ul li,
.calc .functions ul li a,
.calc .functions ul li img{
	display:block;
  outline: none !important;
}
.calc .functions ul li{
	margin-bottom:10px;
	margin-left: 6px;
}

.calc #email-form {
  position: relative;
  padding-top: 30px;
  display: none;
}
.calc #email-form label{
	margin-bottom:5px;
	display:block;
	color: #213F7E;
}

.note{
  margin-top: 20px;
  padding-left: 1%;
}

.note strong{
  font-weight: bold;
}

.calc #email-form #email-response {
  padding: 10px 0px;
}

.mail-container{
	padding:1%;
	width:100%;
}

.mail-inner{
	width:auto;
	clear:both;
	overflow:hidden;
}

.mail-container .w-47{
	width:47%;
	float:left;
}

.mail-container .text{width:100%;}

.mail-container .w-47,
.mail-container .w-100{
	margin-bottom:10px;
	
}



.calc a img {
  border: none;
}

/* ie */

.calc #infodialog {
  font-size: 0.7em;
}

/*-----------------------------------------------------------------------------------------------------*/

.borrowing-power .outer-container {
	clear: both;
	overflow: hidden;
	background: #fff;
	width: auto;
	padding-right: 28px;
	color: #036;
}

.borrowing-power .inner-container {
  padding: 0 1% 1%;
}

.borrowing-power .top-div  {
	font-size: 0.9em!important;
    font-weight: 500!important;
    color: #000!important;
    margin-top: 5px;
}

.borrowing-power .bottom-div {
  color: #fff;
}

.borrowing-power .calc-panel {
    background: #EBEBEC;
    border: 0px;
    clear: both;
    color: #213F7E;
    overflow: hidden;
}

.borrowing-power .calc-panel div {
  margin-bottom: 8px;
}

.borrowing-power .result-panel {

}

.borrowing-power table{
  width: 100%;
}

.clear{
  clear: both;
  overflow: hidden;
  margin:0;
  padding: 0;
}

.label-block{
  display: block;
  width: 30%;
  padding: 5px 10px;
    font-size: 0.9em!important;
    font-weight: 500!important;
    color: #000!important;
}

.borrowing-power .mb-10 {
	color: #213F7E;
    font-size: 1em;
    font-weight: 400;
    color: #000;
}

.borrowing-power .w-30{
  width: 30%;
  float: left;
}



.borrowing-power .input-30{
	width: 30%;
}

.borrowing-power .input-auto {
	width: auto;
}

.borrowing-power .mb-10{	
	color:#213F7E;
}

.w-100{
    width: 100%;
    font-size: 0.9em!important;
    font-weight: 400!important;
    color: #000!important;
    margin-top: 5px;
}

.borrowing-power .mb-10 {
    font-size: 0.9em;
    font-weight: 400;
    color: #000;	
}

.borrowing-power .left-block{
  width: 48%;
  float: left;
  margin-right: 4%;
}

.borrowing-power .w-17{
  width: 17%;
}

.borrowing-power .right-block{
  width: 48%;
  float: right;
}


.borrowing-power .right-block input{
  margin-bottom: 3px;
  margin-top: 3px;
}

.borrowing-power #result {
	color: #06C;
  /*
  float: left;
  width: 240px;
  */
}

.borrowing-power #result table {
  border-collapse: collapse;
}


.borrowing-power #result table td {
  padding: 3px 10px;
  width:50%;
}

.borrowing-power .middle-panel {
  padding: 15px;
}

.borrowing-power #chart_div {
  width: 100%;
  height: 210px;
}

.borrowing-power .readonly {
  background: #ddd;
}

/*-----------------------------------------------------------------------------------------------------*/

.extra-repayment #chart_div {
  width: 100%;
  height: 210px;
}

/*-----------------------------------------------------------------------------------------------------*/

.inner-container .rounded {
	border-radius: 20px;
}

.loan-comparison #result table,
.loan-comparison .container-info table,
.loan-comparison .panel table {
  border-collapse: collapse;
  width: 100%;
}

.loan-comparison #result table td,
.loan-comparison .container-info table td{
  padding: 3px 10px;
	color: #FFF;
	font-weight: 600;
	size: 1.1em;
}

.loan-comparison .panel table td {
padding:5px 10px;
width:30%;
	font-weight: 400;
	font-size: 0.9em;
	color: #000;
}

.loan-comparison .panel table td select{width:100%}

.loan-comparison .readonly {
  background: #ddd;
}


/*.loan-comparison #chart_div { float:left; width: 260px; height: 200px; }*/

/*-----------------------------------------------------------------------------------------------------*/


.calc .inner-container{
  padding:0 1% 1%;
}

.loan-repayment #result table,
.extra-repayment #result table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.loan-repayment #result table td,
.extra-repayment #result table td {
  padding: 5px 10px;
  width:50%;
}

.calc .calc-panel,
.calc .result-panel {
  padding: 3%;
}

.calc .result-panel{
	background:#fff none;
	clear:both;
	overflow:hidden;
}

#chart_div{
margin-bottom:10px;}

.calc .title-p {
	font-weight:700;
	clear:both;
	overflow:hidden;
	margin-bottom:10px;
	color:#213F7E;
	font-size: 1.1em;
}

 /*budget planner*/

.tab-1,.tab-2,.tab-3,
.tab-4,.tab-5,.tab-6 {
  background: ##EBEBEC!important;
	padding:20px 30px;
}

.surplus,
.total{
  background: #67C5B2;
 border-radius:20px!important;
	margin-left: -10px;
		margin-right:-5px;
	box-shadow: 4px 4px 8px #B5B3B3;
}

.budget-planer{
  padding: 0 25px 0 0;
  position: relative;
}

.budget-planer .inner-container{
  padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-radius: 25px!important;
	margin-right: 10px;
	
}

.calc input, .calc select {
    font-family: "proxima-nova", Sans-serif;
  font-size: 1em!important;
	font-weight:400
}

label, .amount, .summary-category {
  color:#2e3e4f;
  margin:10px 0px;
  padding:0;
  display:block;
  font-family: "proxima-nova", Sans-serif;
  font-size: 0.9em!important;
}

.input-bl{
  float:left;
}

.input-bl{ width:30%;}

.input-bl input{
  width:60%;
  float:left;
}

.input-bl span{
  float:left;
  margin: 0 2%;
  margin-top: 4px;
  width: 16%;
	 font-family: "proxima-nova", Sans-serif;
  font-size: 0.9em!important;
	font-weight:400;
}

.input-ch{
  width: 54%;
  float: left;
}

.input-ch input{
  float: left;
  margin:0 4% 0 0 ;
}

.fl-left{
  float: left;
}

.tab-6 .income-details .fl-left p{
  float: right;
	margin-right: 6px;
}

.tab-6 .income-details span{
  margin:0;
}

.mb-4{ margin-bottom: 2px;}

/*index 3*/

.pd-3{ padding-left: 3%;}

/*index5*/
.clear{
  clear: both;
  margin: 0;
  padding: 0;
}

.tab-1,.tab-2,.tab-3,
.tab-4,.tab-5,.tab-6{
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  min-height: 482px;
  background: #f3f4f5!important;
  padding: 20px 30px;
}

.income-details li{
  clear: both;

}

#res1 {
  display: inline-block;
}

#res1-title {
	font-weight: 600;
	margin-left: 15px;
	margin-top: 40px;
	font-size: 1.1em!important;
}

.tab-6 .income-details li{
  line-height: 18px;
}

.tab-6 li:first-child span,
.bold input,
.bold{
  font-weight: 500;
  font-size: 1em!important;
}

.input-bl {
  font-size: 1em;
    font-family: "proxima-nova", Sans-serif;
}

.tab-container{
   padding-bottom: 20px;
	border-radius: 25px;
}

.surplus{
  clear: both;  
  border-bottom: none 0;
  padding: 15px 3px!important;  
  padding-top: 3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  display: block;
  color: #fff!important;
  padding-bottom: 0px!important;  
}

li.summary-category.bold {
  font-weight: 600!important;
}

#surplus-label {
  color: #fff!important;
	font-size: 1.1em;
 font-family: "proxima-nova", Sans-serif;
	font-weight: 600;
	padding-left: 10px;
}

.nav-menu {
  clear: both;
  text-align: center;
}

.nav-menu li:nth-child(3){width: 29%;}

.tab-1,.tab-2,
.tab-3,.tab-4,.tab-5,.tab-6{
  display: none;
}

.active-tab{
  display: block !important;
}
/*tab1*/
.income-details h3{
  color:#000;
  margin-left: 0;
}

.income-details label{
  float: left;
  width: 100%;
  padding: 8px 0;
  margin-bottom: 0;
 font-family: "proxima-nova", Sans-serif;
  font-size: 0.9em!important;
	font-weight:400;
}

.income-details .input-bl, .income-details select {
  width: 100%;
  margin: 5px 0;
}

.income-details .amount {  
  padding: 5px 0;
}

.income-details  .input-bl input{
  width: 80%;
}

.income-details select{ 
  float: left;
  width: 100%;
	 font-family: "proxima-nova", Sans-serif;
  font-size: 0.9em!important;
	font-weight:400;
}

.income-details li p
{ float: right;
}

.tab-6 .income-details li p { 
	float: left;
	font-weight: 600;
}

.tab-6 .income-details li:first-child span{
  float: left;
  color: #213F7E;
  display: block;
  margin: 0;
  padding: 0 0 10px;
  text-align: center;
	font-weight: 600;
	font-family: "proxima-nova", Sans-serif;
}

.tab-6 table {
  width: 100%;  
}

.tab-6 td:first-child, .tab-6 td:last-child {
  width: 30%!important;
  vertical-align: top;
}

.tab-6 td {
  width: 20%!important;
  vertical-align: top;
  padding: 0 3px;
}

.tab-6 label, .tab-6 span {
  font-size: 1em!important;
  margin: 5px 0;
  padding: 0;
}

.amount {
  float: right;
}

.amount:before {
  content: '$';
}

.income-details  .first-span{
    width: 41%;
    height: 10px;
}
.income-details  .freqvency{
  width: 20%;
}
.income-details .anual-amount{ float: right !important;}

.income-details .amount-title{
  width: 20%;
  text-align: center !important;
	color:#213F7E;
	
}

.total{
  -moz-border-radius:20px!important;
  -webkit-border-radius:20px!important;
border-radius:20px!important;
  display: block;
  float: right;
  margin:4px 0 6px 0;   
  border-bottom: none 0;
  padding:5px 15px 5px 15px;
	box-shadow: 4px 4px 8px #B5B3B3;
}

.total p {
  color: #fff;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
  margin-bottom: 0;
  padding: 5px 5px 5px 30px;
  font-size: 1em;
}
.total strong:before {
  content: '$';
}

.page{
  clear: both;
  padding: 0 1% 1%;
  display: block; 
  height: 50px;
  position:relative;
  padding-bottom: 0;
  background: transparent;
  color: #213F7E!important;
}

.curent-numberr,
.allChilds{
  display: inline-block;
  width: 26px;
  height: 26px;
}

.navigation{
  clear: both;
  overflow: hidden;
    display: block;
    width: 145px;
    padding: 11px 0 0 0;
    float: right;
    position: relative;
    text-align: center;
}

.next-tab {
  background: transparent url('../img/right-arrow.png') 0 0 no-repeat;
  height: 33px;
  width: 33px;
  display: block;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}

.prev-tab {
  background: transparent url('../img/left-arrow.png') 0 0 no-repeat;
  height: 33px;
  width: 33px;
  display: block;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}

.no-activ{ display: none;}

.prev-tab{  
  float: left;
}

.next-tab{
  float: right;
}

.namber-page{
  display: inline-block;
  padding: 3px 10px;
  margin-top:5px;
  position: absolute;
  right: 34px;
color: ##213F7E;
}

.namber-page span, .namber-page  {
  font-size: 12px!important;
	font-weight: 500;

}


.reset-fields,
#send_email{
  border:1px solid ;
  border-top-color: #b7babc; 
  border-bottom-color: #5c6266; 
  border-left-color:#71777b;
  border-right-color:#71777b; 
  padding: 3px 15px 3px 15px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  margin-top: 10px;
  background: #ffffff;
  cursor:pointer;
}

.reset-fields:hover{
  border-color:#5c6266 !important;
}

#send_email{
  margin:0;
}

/*info*/

body.global_container {
    font-family: "proxima-nova", Sans-serif;
    font-size: 11px !important;
    overflow-x:auto; 
}

#column_container {
    float: left;
    padding: 10px 0 0 20px;
    position: relative;
    width: 100%;
}



p {margin: 0 0 10px;}

#global_container{border-top: 20px solid #213F7E;}

#global_container h2{
  color: #213F7E;
    font-family: "proxima-nova", Sans-serif;
    margin: 10px 0 0 20px;
	font-weight:600;
}

#global_container tr{line-height: 14px}

#global_container .content_container {
    border-top: 0px;
    padding: 5px;
    position: relative;
    width: 100%;
}

#column_container .column1 {
    display: inline;
    float: left;
    position: relative;
    line-height: 1.5;
    font-size: 15px;
	font-family: "proxima-nova", Sans-serif;
}

#global_container h3 {
    color: #213F7E;
    font-family: "proxima-nova", Sans-serif;
    margin: 10px 0 0;
}


* { margin: 0; 
  padding: 0; 
}

body.global_container {
  font-family: "proxima-nova", Sans-serif;
  font-size:11px; background-color: #FFFFFF; 
}  

.content_container table{
  clear: both;
}

.global_container i{
  font-style:italic;
}

.global_containertable {
    font-family: "proxima-nova", Sans-serif;
  font-size:11px; 
}  

.global_container p {
  margin:0px 0px 10px 0px;
}

.global_container h2 {
    font-family: "proxima-nova", Sans-serif;
  font-size:16px; 
  color: #213F7E; margin:10px 0px 0px 20px;
}

.global_container h3 {
    font-family: "proxima-nova", Sans-serif;
  font-size:14px; 
  color: #213F7E; margin:10px 0px 0px 0px;
  clear: both;
}

.global_container strong{
  font-weight: bold;
}


#logo-calc{
  display:none;
  width:82px;
  height:82px;
  margin:0px auto 20px;
}


#errmsg{
  color:#ff0000;
}

#email-response{
  color:#5B6E2C;
}


@media (max-width: 768px) { 
  .borrowing-power .input-auto{width:30%;}
}
 /**/
@media (max-width: 480px) { 
  .calc .panel .control-group{width:100%;}
  .borrowing-power .right-block{
    clear:both;
    width: 100%;
  }

.borrowing-power .left-block{
  clear:both;
  width: 100%;
  margin-right: 0;
}

.fl-clear{
  clear: both;
  overflow: hidden;
  float: left;
}

.input-ch{ width: 45%;}

 .budget-planer .income-details .input-bl{
  width: 100%;
}

.all-tabs,
.nav-menu a{
  font-size: 10px;
}

.nav-menu li{
  font-size: 8px;
}

.freqvency,
.amount-title,
.anual-amount{
  font-size: 8px;
  margin-bottom: 3px;
}

.income-details .first-span{
  width: 48%;
}

.navigation{
  padding-right: 2px;
}

.namber-page{
  right: 41px;
}

.namber-page span {
  font-size: 12px!important;
}	
	
.reset-fields{
  margin-left: 3px;
}

.income-details .anual-amount{
  width:10%;
}

.calc .very-short-text{
  width: 38%;
}

}


@media print{
  body{zoom:100%}
  #logo-calc{display:block;}
  #chart_div{
    width:400px !important; 
    display:block; 
    margin-left:auto;
    margin-right:auto;
  }

  .budget-planer{
	  padding:0;}
  .functions,
  #email-form{display: none !important;}
  .nav-menu li,
  .total,
  .surplus,
  .calc #result{
    border-color:#B4B2B2;
  }

  .loan-comparison .bottom-div  { display: block; page-break-before: always; }
}

.budget-planer .nav-menu li {  
  border: none;
  width: 70px;
  height: 50px;
  padding: 10px 15px;  
  margin-right: 5px;
  -moz-border-radius:10px 10px 0 0;
  -webkit-border-radius:10px 10px 0 0;
  border-radius:20px 20px 0 0;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
}

.budget-planer .nav-menu {
  margin-bottom: -7px;
}

.tab-loans-tax {
  background: #67C5B2  url('../img/loans-tax-icon-white.png') center no-repeat;    
}

li.tab-loans-tax.nav-menu-activ {  
  background: #EBEBEC url('../img/loans-tax-icon-blue.png') center no-repeat!important;
}

.tab-expenses {
  background: #67C5B2  url('../img/expenses-icon-white.png') center no-repeat;  
}

li.tab-expenses.nav-menu-activ {  
  background: #EBEBEC url('../img/expenses-icon-blue.png') center no-repeat!important;
}

.tab-insurance {
  background: #67C5B2  url('../img/insurance-super-icon-white.png') center no-repeat;  
}

li.tab-insurance.nav-menu-activ {  
  background: #EBEBEC url('../img/insurance-super-icon-blue.png') center no-repeat!important;
}

.tab-leisure {
  background: #67C5B2  url('../img/leisure-icon-white.png') center no-repeat;  
}

li.tab-leisure.nav-menu-activ {  
  background: #EBEBEC url('../img/leisure-icon.png') center no-repeat!important;
}

.tab-summary {
  background: #67C5B2  url('../img/summary-icon-white.png') center no-repeat;  
}

li.tab-summary.nav-menu-activ {  
  background: #EBEBEC url('../img/summary-icon-blue.png') center no-repeat!important;
}

.tab-income {  
  background-color: #67C5B2;
  background-image: url('../img/income-transport-icon-white.png');
  background-position: center;
  background-repeat: no-repeat;  
}

li.tab-income.nav-menu-activ {  
  background-color: #EBEBEC!important;
  background-image: url('../img/income-transport-icon-blue.png')!important;
  background-position: center!important;
  background-repeat: no-repeat!important;  
}

@media (min-width: 481px) and (max-width: 768px) { 
  .budget-planer .nav-menu li {  
    border: none;
    width: 55px;
    height: 40px;
    background-size: 50%!important;
	    border-radius: 10px 10px 0 0;
  } 
}

@media (max-width: 480px) { 
  .budget-planer .nav-menu li {  
    border: none;
    width: 35px;
    height: 35px;
    background-size: 70%!important;
	  border-radius: 10px 10px 0 0;
  } 
}


@media (max-width: 480px) { 
	.calc .title-p {
		font-size: 1.1em;
	}}
@media (max-width: 480px) { 
	.income-details label, .income-details select, .input-bl span, .income-details .amount {
		font-size: 1.2em!important;	
		line-height: 1.2;
	}}
@media (max-width: 480px) { 
	.total p {
		font-size: 1.4em;
	}}

@media (max-width: 480px) { 
	.tab-6 .income-details li:first-child span {
		font-size: 1.2em!important;			
	}
	}
@media (max-width: 480px) {  
	.tab-6 .income-details li p {
	float:right;
		font-size: 1.2em;
		font-weight: 400;
		    margin-top: -2px;
	}
	}

@media (max-width: 480px){
.income-details .anual-amount {
	width: 30%!important; }
}
@media (max-width: 480px){
	.calc .functions ul li, .calc .functions ul li a, .calc .functions ul li img {
		display: none;
	}}

@media (max-width: 480px){
	.budget-planer {
		padding: 0px;
	}}

@media (max-width: 480px){
label, .amount, .summary-category {
	color:#2e3e4f; 
  margin: 10px 0px;
  display:block;
  font-weight: 400;
  font-size: 0.9em!important;
	}}

@media (max-width: 480px){
.loan-repayment .outer-container, .loan-comparison .outer-container, .extra-repayment .outer-container {
	padding: 2px
	}}